# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
**/dist

# Neutralinojs client (minified)
neutralino.js

node_modules

.tmp/

*.app

.DS_Store

*.neu

/external

.vscode
.idea/

server_secret.ts
**/*.secret.ts
**/secret.ts

/dev/


/sidecar/sophon_server
/sidecar/**/sophon_server
**/__pycache__
neutralino.config.json.bak
build-all.sh
